folium==0.19.5
imageio==2.37.0
matplotlib==3.8.0
numpy==2.2.5
open3d==0.19.0
opencv_python==4.11.0.86
opt_einsum==3.4.0
pandas==2.2.3
Pillow==11.2.1
scipy==1.11.4
setuptools==68.2.2
skimage==0.0
torch==2.6.0+cu118
torchvision==0.21.0+cu118
tqdm==4.67.1
